@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #3a0ca3;
  --secondary: #4361ee;
  --light-blue: #4cc9f0;
  --bright-purple: #7209b7;
  --bright-pink: #f72585;
  --text-darker: #0b090a;
  --text-dark: #2b2b2b;
  --text-light: #808080;
  --text-lighter: #aaaaaa;
  --text-gray: #d4d4d4;
  --light-red: #ffe1e1;
  --dark-red: #ff1111;
  --light-red: #ffe1e1;
  --dark-red: #ff1111;
  --lighter-blue: #d7eeff;
  --dark-blue: #119bff;
  --light-green: #f1fff1;
  --dark-blue: #00ce3a;
}

/* D9D9D9 */

.contain {
  @apply max-w-[75rem] mx-auto p-6;
}

.boxShadow {
  box-shadow: 0px 20px 50px 30px rgba(0, 0, 0, 0.05);
}

.cardShadow {
  box-shadow: 10px 10px 15px 10px rgba(0, 0, 0, 0.1);
}
